<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobify</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/estilos.css">
  </head>

  <body>
    

    <div class="imagem">
      <h1><a href="/"><img src="/images/logo5.png" alt="Jobify"></a></h1>
      <p>We are Jobify - Join us!</p>
    </div>